<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yy.crf.volleytest">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".StringRequestActivity"
            android:label="@string/title_activity_string_request"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".JsonRequestActivity"
            android:label="@string/title_activity_json_request"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ImageRequestActivity"
            android:label="@string/title_activity_image_request"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ImageLoaderActivity"/>
        <activity
            android:name=".GsonActivity"
            android:label="@string/title_activity_gson"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>